/* Reset some default styles for the page */
body,
p {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  background-image: url("jitters.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the h1 element */
h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white;
}
